body {
    background: url(/images/map.png) repeat;
}

.container {
    min-height: 100%;
    height: 100%;
    overflow: hidden;
    font-style:  oblique;
    font-weight: bold;
}

.parallax {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.parallax li img {
    display: block;
    height: 100%;
    width: auto;
    margin: 0 auto;
}

.main-menu button {
    opacity: 0.6;

    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;

    height: 30%;
    text-align: center;
    font-size: 120%;
    margin: 5% 0;
}

.main-menu ul {
    height: 60%;
    margin: 5% 0;
}

.main-menu li {

    margin: 0 0 5%;
}

.locate h1, .locate h2 {
    text-align: center;
}

.locate img {
    display: block;
    margin: auto;
}

.locate .spinner {
    animation-duration: 30s;
    animation-name: spin;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(14400deg);
    }
}

.locate div.bottom {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.locate .bottom > button {
    margin: 1px 1px 0;
}

.container {
    -webkit-transition:1s linear all;
    -moz-transition:1s linear all;
    -o-transition:1s linear all;
    transition:1s linear all;
}

.container.ng-leave {
    left: 0;
    position: absolute;
    width: 100%;
}

.container.ng-enter {
    left: 100%;
    position: absolute;
    width: 100%;
}

.container.ng-enter-active {
    left: 0;
}

.container.ng-leave-active {
    left: -100%;
}
