<section role="region" class="screen locate">
    <header>
        <a href="#/"><span class="icon icon-back">back</span></a>
        <menu type="toolbar">
            <button data-ng-click="showInfo = !showInfo">Info</button>
        </menu>
        <h1>Please Wait...</h1>
    </header>
    <div data-ng-show="!positionUpdated">
        <h1>Looking for your location...</h1>
        <img class="spinner" src="images/progress_activity/ui/default@1.5x.png"/>
        <div class="bottom">
            <div data-ng-show="showInfo">
                <p class="mini">GPS accuracy: {{ accuracy }} meters</p>
                <p class="mini">Accuracy should be lower than: {{ targetAccuracy }} meters</p>
            </div>
            <button class="bottom" onClick="location.href = '#/';">Back</button>
        </div>
    </div>
    <div data-ng-show="positionUpdated">
        <h1>Location saved!</h1>
        <h2>You can close Application now</h2>
    </div>
    <div class="bottom">
        <button data-ng-show="positionUpdated" class="bottom" onClick="location.href = '#/';">Done</button>
    </div>
</section>
