<section role="region" class="screen main-menu">
    <header>
        <h1>Find My Car Lite</h1>
    </header>
    <ul>
        <li>
            <button onClick="location.href = '#/locate';"
                    data-ng-disabled="!locationServicesAvailable || !deviceOrientationAvailable">
                Save Location
            </button>
        </li>
        <li>
            <button onClick="location.href = '#/compass';"
                    data-ng-disabled="!carPosition || !locationServicesAvailable || !deviceOrientationAvailable">
                Find My Car!
            </button>
            <p data-ng-show="!locationServicesAvailable">
                Sorry, your device does not support geolocation.
            </p>
            <p data-ng-show="!deviceOrientationAvailable">
                Sorry, your device does not support 'device orientation' feature.
            </p>
        </li>
    </ul>
</section>
